/* ==========================
   Global Styles
========================== */
body {
  margin: 0;
  padding: 0;

  background: linear-gradient(to top right, #9a7db2, #73907a);
    
}

.h1, .h2, .h3 {
  border: 1px solid #486157;
  
}



.p {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;

  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 1.6;
    
}

.img {
  border: 1px solid #486157;

}

.ul {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px; 
}

.li {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
}

.a {
  border: 1px solid #486157;
}


/* ==========================
   Navigation
========================== */
nav {
  border: 1px solid #486157;
  background-color: #73907a;

  position: sticky;
  width: 100%;
  height: 60px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.4;
}

.nav-logo {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
}

.nav-links {
 border: 1px solid #486157;
 margin: 15px;
 padding: 5px;
 display: inline-flex;
}

/* ==========================
   Dividers
========================== */
div {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
}

/* ==========================
   Sections
========================== */
section {
  border: 1px solid #486157;
  padding: 20px;
}

/* ==========================
   Welcome Section
========================== */
.welcome-section {
  border: 1px solid #486157;

  height: 100vh;              
  display: flex;              
  
  background-image: url("sideON.jpg"); 
  background-position: center; 
  background-size: cover;      
  background-repeat: no-repeat; 
}

.welcome-text {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  
  line-height: 1.6;
  font-size: 16px;
}

#greeting {
  border: 1px solid #486157;
  transition: opacity 0.5s ease-in-out;
}

/* ==========================
   Collapsible Section
========================== */
.collapsible {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  background-color: #73907a;
  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 15px;

  display: flex;  
  flex-direction: row;
  align-items: center;
}


/* ==========================
   About Section
========================== */
.about-section {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.about-img{
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
} 

.about-text {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  max-width: 600px;
  text-align: center;
}


/* ==========================
   Research Section
========================== */
.research {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.research-list {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: inline-flex;  
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.research-items {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ==========================
   Projects Section
========================== */
.projects {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projects-list {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: inline-flex;  
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.project-items {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* ==========================
   Contact Section
========================== */

.contact-section {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-cards {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;

  display: inline-flex;  
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.contact-card {
  border: 1px solid #486157;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  width: 50px;
  height: 50px;

  background-color: #9a7db2;
  color: white;
  text-decoration: none;

  display: flex;  
  flex-direction: column;
  align-items: center;
  text-align: center;

  transition: transform 0.3s ease, background-color 0.3s ease;
}
